@import '../_settings/_variables.scss';

.card {
	box-shadow: $box-shadow;
	display: grid;
	text-align: center;

	& * {
		width: 100%;
	}

	&__title {
		grid-row-start: 1;
		padding: 0 2px;
	}

	&__content {
		grid-row-start: 2;		
		flex: 1;
	}

	&__actions {
		grid-row-start: 3;		
		border-top: 1px solid $primary-color;
	}

	&--radius {
		border-radius: 8px;

		& * {
			border-radius: 8px;
		}
	}
}